textarea {
    max-height: none;
    max-width: none;
    width:660px;
    height:360px;
}
h3{
	font-size: 1.2em;
}
fieldset{
	max-width: 100%;
}
pre{
	width: 700px;
	overflow: auto;
}

table.datatable pre
{
	width: 600px;
}